---
layout: page
title: Topics
description: An indexed archive of all writing, structured by topic and focus area.
permalink: /topics/
---

<div class="topics-container">

    <div class="topics-nav">
        {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <a href="#{{ category_name }}" class="post-tag">{{ category_name }} ({{ category | last | size }})</a>
        {% endfor %}
    </div>

    {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <section class="category-group">
        <h3 id="{{ category_name }}" class="category-heading">{{ category_name }}</h3>

        <ul class="category-list">
            {% for post in site.categories[category_name] %}
            <li class="category-item">
                <span class="category-date">{{ post.date | date: "%d %b %Y" }}</span>
                <a href="{{ post.url | relative_url }}" class="category-link">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endfor %}

</div>
